<h1>"Welcome to Bookmark Manager"</h1>

<form action="/add" method="post">
  <input type="submit" id="ADD_BKMK" value="Add_bookmark">
  <input type="text" name="new_bookmark">
</form>

<form action="/bookmarks" method="get">
  <input type="button" id="view_bkmk" value="View Bookmarks">
</form>